.pageWrapper{
    margin: 0 auto;
    max-width: 840px;
}

.articleCardWrapper{
    border: 1px solid grey;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
}

.articleCardWrapper img{
    height: auto;
    width: 200px;
}

.articleCardText h2{
    margin-bottom: 20px;
}

.articlePageHeaderWrapper{
    background-color: gray;
    background-size: cover;
    min-height: 34px;
}